body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(https://images.unsplash.com/photo-1496368077930-c1e31b4e5b44?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: 100%;
 }
 .login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
 }
 .login-box h1{
    float: left;
    font-size: 40px;
    border-bottom:6px solid #000;
    margin-bottom: 50px;
    padding: 13px 0;
 }
 .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid #585858;
 }
 .textbox i{
    width: 26px;
    float: left;
    text-align: center;
 }
 .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
 }
 .btn {
    display: block;
    width: 300px;
    height:50px;
    border: none;
 background: linear-gradient(120deg, #000, gray);
 }